.planning-title {
    color: #000000;
}

.planning-initial-choose {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
}

@media (max-device-width: 355px) {
    .btn {
        width: 100%;
    }
}