.planning-title {
  color: #000000;
}

.planning-initial-choose {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

@media (max-device-width: 550px) {
  .planning-initial-choose {
    flex-direction: column;
  }
  .btn {
    width: 100%;
  }
}
